@page
@model DotNetShop.Pages.IndexModel
@{
}

<section data-bs-version="5.1" class="content2 cid-tsEQSCqggh" id="content2-2">
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Top Selling</strong></h4>
        </div>
        <div class="row mt-4">
            <partial name="_ProductList" model="Model.Products" />
        </div>
    </div>
</section>