@page
@model DotNetShop.Pages.JwtTokenModel
@{
}

<section data-bs-version="5.1" class="form6 cid-tsFfsp7eqK" id="form6-n">
    <div class="container">
        <div class="mt-5">
            <div class="align-center">
                <textarea style="width: 600px; height: 400px;">@Model.Token?.Value</textarea>
            </div>
        </div>
    </div>
</section>